<!DOCTYPE html>
<html>
<head> <title>SUMMERTAN BRONCEADO ORGANICO</title>
</head>
<body>

    S U M A T E  a la experiencia del bronceado organico sin sol, que se adapta a las caracteristicas de tu piel. 
    <br></br> 
    <p style="color:blue"> Dale el glow que tu piel merece.-</p>
<p style="color:orange">Mi nombre es: {{nombre}}</p>
<p style="color:brown">Mi apellido es: {{apellido}}</p>

<h1> Estas consultando esta pagina el dia : {{hoy}}</h1>
<h2> <p style="color:purple"> Este es el precio: {{precio}} </h2></p>
</body>
</html>
